{% extends "base.html" %}


{% block title %}About{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/about.css">
{% endblock head %}
{% block style %}
body{background-image: url(/staic/images/bgt.png); }
{% endblock style %}


{% block body %}

<!-- Achivements -->

<section class="about_achievements">
    <div class="container about_achievements-container">
        <div class="about_achievements-left">
            <img src="/static/images/achive.webp" alt="">
        </div>
        <div class="about_achievements-right">
            <h1>Achivements</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta temporibus consequatur ea totam, perferendis modi? Quam, itaque earum obcaecati at numquam facilis aperiam delectus quos, fugit voluptates inventore placeat fugiat!</p>
            <div class="achivements_cards">
              <article class="achivement_card">
                <span class="a_icon">
                    <i class="uil uil-video"></i>
                </span>
                <h3>300+</h3>
                <p>Courses</p>
              </article>

              <article class="achivement_card">
                <span class="a_icon">
                    <i class="uil uil-users-alt"></i>
                </span>
                <h3>10,000+</h3>
                <p>Students</p>
              </article>

              <article class="achivement_card">
                <span class="a_icon">
                    <i class="uil uil-trophy"></i>
                </span>
                <h3>50+</h3>
                <p>Awards</p>
              </article>
            </div>
        </div>
    </div>
</section>

<!-- Achivements -->


<!-- team section -->
<section class="team">
    <h2>Meet Our Team</h2>
    <div class="container team_container">
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te5.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Liam Smith</h4>
                <p>MLExpert</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te6.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Mason Wilson</h4>
                <p>Data Scientist</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te1.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Elijah Brown</h4>
                <p>Marketing Manager</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te2.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Benjamin Taylor</h4>
                <p>Financial Analyst</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te3.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Olivia Anderson</h4>
                <p>Cybersecurity Analyst</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te4.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Emma Johnson</h4>
                <p>Cloud Architect</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te8.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Noah Davis</h4>
                <p>System Administrator</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="/static/images/te7.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>William Jones</h4>
                <p>Network Administrator</p>
                <div class="team_member-socials">
                    <a href="https://instagram.com" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
                </div>
            </div>
        </article>
    </div>
</section>

<!-- team section -->
{% endblock body %}