{% extends "base.html" %}
{% block title %}Contact{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/css/courses.css" />

{% endblock head %}
 
{% block body %}

<body>



     <!-- Courses -->

     <section class="courses">
        
        <div class="container courses_container">

            <article class="course">
                <div class="course_image">
                    <img src="/staic/images/i1.png" alt="">
                </div>
                <div class="course_info">
                    <h4>User Interface Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="/static/images/m1.png" alt="">
                </div>
                <div class="course_info">
                    <h4>Degital Marketing 101</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="/static/images/g1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/i1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/m1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/g1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/m1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/g1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/i1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/g1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/m1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/i1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/m1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/i1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/g1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/i1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/m1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/g1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/g1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/m1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>
            <article class="course">
                <div class="course_image">
                    <img src="/static/images/i1.png" alt="">

                </div>

                <div class="course_info">
                    <h4>Product Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                        velit
                        sed.</p>
                    <a href="courses.html" class="btn-primary">learn more</a>
                </div>
            </article>

        </div>
    </section>


    <!-- Courses -->





{% endblock body %}
