
{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block head %}<link rel="stylesheet" href="/static/css/style.css">{% endblock head %}
{% block body %}
 <!-- header -->
 <header>
    <div class="container header_container">
        <div class="header_left">
            <h1>Grow your skill to advance your career path</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi minima omnis fugiat inventore
                sint, fuga voluptatibus tempora veniam ducimus?</p>
            <a href="courses.html" class="btn">Get Started</a>
        </div>
        <div class="header_right">
            <div class="header_right-image">
                <img src="/static/images/p1a.png" alt="">
            </div>

        </div>
    </div>

</header>

<!-- header -->

<!--  Categoris-->
<section class="categories">
    <div class="container categories_container">
        <div class="categories_left">
            <h1>Categories</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi distinctio repellat id enim voluptas
                corrupti obcaecati nam incidunt nesciunt fugit! Doloribus vero alias atque labore placeat magni
                perspiciatis fugit dolores.</p>
            <a href="#" class="btn-primary">learn more</a>
        </div>
        <div class="categories_right">

            <article class="category">
                <span class="category_icon"><i class="uil uil-palette"></i>
                </span>
                <h5>Graphic Design</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rerum.</p>
            </article>

            <article class="category">
                <span class="category_icon"><i class="uil-bitcoin-circle"></i>
                </span>
                <h5>Blockchain</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, animi?</p>
            </article>

            <article class="category">
                <span class="category_icon"><i class="uil uil-usd-circle"></i>
                </span>
                <h5>Finance</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, vitae!</p>
            </article>

            <article class="category">
                <span class="category_icon"><i class="uil uil-music"></i>
                </span>
                <h5>Music</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, at.</p>
            </article>

            <article class="category">
                <span class="category_icon"><i class="uil uil-puzzle-piece"></i>
                </span>
                <h5>Business</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
            </article>

            <article class="category">
                <span class="category_icon"><i class="uil uil-megaphone"></i>
                </span>
                <h5>Marketing</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ratione!</p>
            </article>

        </div>
    </div>

</section>
<!--  Categoris-->


<!-- Courses -->

<section class="courses">
    <h2>Our Popular Courses</h2>
    <div class="container courses_container">

        <article class="course">
            <div class="course_image">
                <img src="/static/images/i1.png" alt="">
            </div>
            <div class="course_info">
                <h4>User Interface Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                    velit
                    sed.</p>
                <a href="courses.html" class="btn-primary">learn more</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
                <img src="/static/images/m1.png" alt="">
            </div>
            <div class="course_info">
                <h4>Degital Marketing 101</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                    velit sed.</p>
                <a href="courses.html" class="btn-primary">learn more</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
                <img src="/static/images/g1.png" alt="">

            </div>

            <div class="course_info">
                <h4>Product Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae corporis animi. Autem,
                    velit
                    sed.</p>
                <a href="courses.html" class="btn-primary">learn more</a>
            </div>
        </article>

    </div>
</section>


<!-- Courses -->



<!-- FAQS -->

<section class="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="container faqs_container">

        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>
        <article class="faq">

            <div class="faq_icon"><i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How do I know the right course for me?</h4>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, at omnis sit, neque
                    deserunt quasi, officiis numquam dolorum est libero. Vel, quibusdam obcaecati! Aliquid qui
                    consequuntur repellat nobis quos.</p>
            </div>
        </article>




    </div>
</section>


<!-- FAQS -->


<!-- Student testimonials-->

<section class="container testimonials_container swiper mySwiper">
    <h2>Student Testimonials</h2>
    <div class="swiper-wrapper">
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/static/images/ava1.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Suzen Dia</h5>
                <small>Data Analyst</small>
            </div>
            <div class="testimonial_body swiper-slide">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit repudiandae soluta ex
                    quia
                    quas minus accusamus dolore quaerat reprehenderit!</p>
            </div>
        </article>

        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/static/images/ava2.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Kirsh hooper</h5>
                <small>Student</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit repudiandae soluta ex
                    quia
                    quas minus accusamus dolore quaerat reprehenderit!</p>
            </div>
        </article>

        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/static/images/ava4.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>lucie bilo</h5>
                <small>Project Manager</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit repudiandae soluta ex
                    quia
                    quas minus accusamus dolore quaerat reprehenderit!</p>
            </div>
        </article>

        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/static/images/ava6.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Alexzender Reo</h5>
                <small>Student</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit repudiandae soluta ex
                    quia
                    quas minus accusamus dolore quaerat reprehenderit!</p>
            </div>
        </article>

        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/static/images/ava3.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Ahana Max</h5>
                <small>Web Developer</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit repudiandae soluta ex
                    quia
                    quas minus accusamus dolore quaerat reprehenderit!</p>
            </div>
        </article>

    </div>
    <div class="swiper-pagination"></div>
</section>

{% endblock body %}